@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {
  --primary: #e8f79a;
  --secondary: #49d292;
  --tertiary: #3b445b;
  --quaternary: #383746;
  --primaryText: #3b445b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* modal */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--primary);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50vh;
}

.modal-content p {
  color: var(--primaryText);
  font-size: 1.2rem;
}

.modal-message {
  color: var(--primaryText);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 60px;
  border: 1px solid #888;
}

.modal-score {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}

.modal-score .result {
  margin-top: 20px;
  color: var(--primaryText);
  font-size: 1.2rem;
  border: 1px solid #888;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-score .result span {
  font-size: 3rem;
  text-align: center;
}

.modal-message button {
  margin-top: 20px;
  background-color: var(--secondary);
  color: var(--primaryText);
  font-size: 1.2rem;
  border: 1px solid #888;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;
}
.result span {
  height: 80px;
  font-size: 1.2rem;
  color: var(--primaryText);
}

.result p {
  font-size: 1rem;
  text-align: center;
  height: 20px;
}
/* modal end*/
body {
  background-color: var(--quaternary);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.contaier-label {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100px;
  margin: 5px auto;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
}

.contaier-label h1,
p {
  color: #ffffff;
  text-transform: uppercase;
}

.container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 5px auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flip {
  transform: scaleX(-1);
}

.rotate {
  transform: rotate(180deg);
}
.container .option {
  background-color: var(--primary);
  width: 89px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.option div {
  height: 68px;
  width: 67px;
  margin: 4px auto;
}
.option p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--primaryText);
  text-transform: uppercase;
}

/* container score */
.container_score {
  width: 123px;
  height: 100px;
  background-color: var(--primary);
  margin: auto;
  border: 5px solid red;
}

.container_score p {
  width: 123px;
  height: 97px;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryText);
  border: 5px solid red;
}

.container_score .avatar {
  position: relative;

  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: var(--secondary);
  margin: 0 auto;
  border: 2px solid black;
}

.score p {
  width: 123px;
  height: 97px;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  border: 5px solid red;
}

.avatar#computer {
  left: 90px;
  top: -65px;
}

.avatar#you {
  left: -50px;
  top: -100px;
}

.playerBid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 100px;
  border: 1px solid black;
  margin: 5px auto;
  border-radius: 50px;
  background-color: var(--secondary);
}

.playerBid .playerOption {
  width: 69px;
  height: 67px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: var(--primaryTextary);
}

div.score {
  height: 0;
  width: 0;
}

@media only screen and (min-width: 390px) {
  body {
    width: 390px;
    margin: auto;
  }
  .modal-message {
    height: 200px;
    border: none;
  }
  .modal-message h1 {
    font-size: 1em;
    text-transform: uppercase;
  }

  .modal-score {
    width: 300px;
  }
}

/* If the screen size is 1024px or more, /* iPad Pro 12.9" - 1 */
@media only screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: auto;
  }

  .modal-message h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
  .container .option {
    width: 236px;
    height: 200px;
    justify-content: space-between;
  }

  .option div {
    width: 160px;
    height: 168.58px;
  }

  .option p {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .media-ipad {
    display: flex;
    flex-direction: row-reverse;
  }

  .playerBid {
    width: 362px;
    height: 150px;
    border-radius: 116.5px;
    justify-content: space-around;
    position: relative;
  }

  .playerBid .playerOption {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .playerBid p {
    width: 89px;
    height: 27px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .container_score {
    width: 193px;
    height: 177px;
  }

  .score p {
    width: 193px;
    height: 177px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: var(--primaryText);
  }

  .score .avatar {
    width: 135px;
    height: 129px;
  }
  .avatar#computer {
    left: -80px;
    top: -80px;
  }

  .avatar#you {
    left: 120px;
    top: -220px;
  }

  #computerBid {
    left: 21%;
  }
  #yourBid {
    right: 21%;
  }

  .container_score.you {
    position: relative;
    right: 6.5%;
  }

  .container_score.computer {
    position: relative;
    left: 6.5%;
  }

  footer {
    width: 100%;
    height: 100px;
    background-color: var(--primaryTextary);
  }
}

/* If the screen size is 
1980px or less, /* Desktop 12.9" - 1 */
@media only screen and (max-width: 1980px) {
  div.example {
    font-size: 30px;
  }
}
